.modal {
    position: absolute !important;
    margin: unset !important;
    left: unset !important;
    top: unset !important;
    bottom: unset !important;
    right: unset !important;
    height: unset !important;
    width: 95% !important;
}

ul.user {
    position: absolute;
    left: -60px;
    top: 20px;
    min-width: 0;
    background: #eee;
    padding: 5px;
}